[node01]
type=server
address=node01
port=3306
protocol=MariaDBBackend

[node02]
type=server
address=node02
port=3306
protocol=MariaDBBackend

[node03]
type=server
address=node03
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=node01,node02,node03
user=maxscale
password=changeme
auto_failover=true
auto_rejoin=true
enforce_read_only_slaves=1

[Read-Only-Service]
type=service
router=readconnroute
servers=node01,node02,node03
user=maxscale
passwd=changeme
router_options=slave

[Read-Write-Service]
type=service
router=readwritesplit
servers=node01,node02,node03
user=maxscale
passwd=changeme
master_failure_mode=fail_on_write

[Read-Only-Listener]
type=listener
service=Read-Only-Service
protocol=MySQLClient
port=4008

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MySQLClient
port=4006